@page
@model WebApp.Pages.Samples.ControlsModel
@{
    ViewData["Title"] = "Various Controls";
}

<h1>Various Form Controls</h1>

@if (!string.IsNullOrWhiteSpace(Model.Feedback))
{
    <p>@Model.Feedback</p><br/>
}
<div class="row">
    <div class="col-sm">
        <h3>TextBoxes</h3>
        <form method="post">
            <div class="form-group">
                <label>
                    Email input
                </label>
                <input type="email" asp-for="EmailText"
                       placeholder="enter email" class="form-control" />
                <br />
            </div>
            <div class="form-group">
                <label>
                    Password input
                </label>
                <input type="password" asp-for="PasswordText"
                       placeholder="enter password" class="form-control"/>
                <br />
            </div>

            <div class="form-group">
                <label>
                    Date input
                </label>
                <input type="date" asp-for="DateTimeText"
                       placeholder="enter a date" class="form-control"/>
            </div>
            <br />
            <button type="submit" value="textbox" id="theTextButton"
                    name="theTextButton" asp-page-handler="Text" class="btn btn-primary">
                Text Submit
            </button>
        </form>
    </div>
    <div class="col-sm">
        <h3>RadioButton, CheckBox and TextArea</h3>
        <form method="post">
            <div class="form-group">
                <label>
                    Select favourite meal<br />
                </label>
                <br />
                @*<input type="radio" asp-for="RadioMeal" value="breakfast" class="form-control/>
                &nbsp;Breakfast<br/>
            <input type="radio" asp-for="RadioMeal" value="lunch" class="form-control/>
                &nbsp;Lunch<br/>
            <input type="radio" asp-for="RadioMeal" value="dinner/supper" class="form-control/>
                &nbsp;Dinner/Supper<br/>
            <input type="radio" asp-for="RadioMeal" value="snacks" />
                &nbsp;Snacks<br/>*@
                
                @foreach (var item in Model.RadioMeals)
                {
                    <input type="radio" asp-for="RadioMeal" value="@item" class="form-check-input" /> @item<br />
                }
            </div>
            <br />
            <div class="form-group">
                <label>
                    <input class="form-check-input" type="checkbox" asp-for="AcceptanceBox" value=true  />
                    &nbsp; I agree to the terms
                </label>
            </div>
            <br />
            <div class="form-group">
                <label>
                    Message
                    <textarea rows="5" cols="60" placeholder="enter a message"
                              asp-for="MessageBody" class="form-control">@Model.MessageBody</textarea>
                </label>
            </div>
            <br />
            <button type="submit" value="radiocheckarea" id="theRadioCheckAreaButton"
                    name="theRadioCheckAreaButton" asp-page-handler="RadioCheckArea" class="btn btn-primary">
                Radio/Check/Area Submit
            </button>
        </form>
    </div>
    <div class="col-sm">
        <h3>Lists and Slider</h3>
        <form method="post">
            <div class="form-group">
                <label>
                    Select favourite Ride
                </label>
                <br />
                <select asp-for="MyRide" class="form-control">
                    <option value="0">select a ride ...</option>
                    @foreach (var item in Model.Rides)
                    {
                        <option value="@item.ValueId">@item.DisplayText</option>
                    }
                </select>
            </div>
            <br/>
            <div class="form-group">
                <label>
                    Select favourite Vacation Spot
                </label>
                <input type="text" asp-for="VacationSpot"
                       list="VacationChoices" class="form-control"/>
                <datalist id="VacationChoices">
                    @foreach (var item in Model.VacationSpotList)
                    {
                        //use if expected value is the same as the display value
                        <option value="@item" />

                        @*   use if the expected value is different then the display value
                 this setup is the same as the drop down list

                <option value="@item.expectedvalue">@item.displayvalue</option>*@
                    }
                </datalist>
            </div>
            <br/>
            <div class="form-group">
                <label>
                    Review of controls (bad < - > good)
                </label>
                <input type="range" min="0" max="10" steps="1" value="5"
                       asp-for="RangeValue" checked="@Model.RangeValue" class="form-range" />
            </div>
            <br/>
                <button type="submit" value="listslider" id="theListSliderButton"
                name="theListSliderButton" asp-page-handler="ListSlider" class="btn btn-primary">
                List/Slider Submit</button>

        </form>
    </div>
    </div>
